@using LegendOfRico.Data

<div class="layoutGame" @onkeydown="HandleKeyDown" @onkeydown:preventDefault=true tabindex="0">
    <div class="displayGame">
        <div class="gameMenu">
            <p>Personnage: @Game.Player.Name</p>
            <p>Position: [@Game.Player.PositionI][@Game.Player.PositionJ]@Game.GameMap.MapLayout[Game.Player.PositionI][Game.Player.PositionJ].Name</p>
            <p>Niveau: @Game.Player.Level</p>
            <p>Expérience: @Game.Player.CurrentXp</p>
            <p>Expérience pour lvlup: @Game.Player.XpToLevel</p>
            <button @onclick="Game.SwitchShowInventoryList">Inventaire</button>
            <button @onclick="Game.SwitchShowQuestList">Liste des quêtes</button>
            @if (Game.GameMap.MapLayout[Game.Player.PositionI][Game.Player.PositionJ].HasNPC == true)
            {
                <button @onclick="Game.SwitchShowMerchantList">Marchand</button>
            }
            <!--<button onclick="() => Save(game.Player)">Sauvegarde</button>-->
            <button @onclick="Deconnection">Deconnexion</button>
            <!--<button @onclick="Lvl">Lvlup</button>-->
        </div>
        <div class="mapDisplay">
            <table border="1" class="Map">
                @for (int i = Game.GameMap.StartI; i < Game.GameMap.MaxI; i++)
                {
                    <tr>
                        @for (int j = Game.GameMap.StartJ; j < Game.GameMap.MaxJ; j++)
                        {
                            @if (i == Game.Player.PositionI && j == Game.Player.PositionJ)
                            {
                                <td>
                                    <div style="background-image: url('@Game.GameMap.MapLayout[i][j].SquareBiome.ImageUrl');">
                                        <img src="@Game.Player.MapSprite" alt="Image Player" class="character-image">
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div style="background-image: url('@Game.GameMap.MapLayout[i][j].SquareBiome.ImageUrl');"></div>
                                </td>
                            }

                        }
                    </tr>
                }
            </table>
        </div>
        <div class="mapMenu">
            <p style="display: @(Game.ShowInventory ? "block" : "none")">ici inventaire</p>
            <p style="display: @(Game.ShowQuestList ? "block" : "none")">ici liste des quetes</p>
            <p style="display: @(Game.ShowMerchantList ? "block" : "none")">ici marchand</p>
        </div>
    </div>
</div>



@code {

    [Parameter]
    public Game Game { get; set; }
    [Parameter]
    public EventCallback TypeOfShowChange { get; set; }

    void Deconnection ()
    {
        Game.Deconnection();
        TypeOfShowChange.InvokeAsync();
    }

    void Lvl()
    {
        Game.LevelUp();
        Console.WriteLine(Game.GameMap.MapLevel);
        Console.WriteLine(Game.Player.Level);
    }

    //Fonction de gestion des bouton clavier
    private void HandleKeyDown(KeyboardEventArgs e)
    {

        switch (e.Key)
        {
            case "ArrowLeft":
                Game.GoLeft(Game);
                TypeOfShowChange.InvokeAsync();
                break;
            case "ArrowRight":
                Game.GoRight(Game);
                TypeOfShowChange.InvokeAsync();
                break;
            case "ArrowUp":
                Game.GoUp(Game);
                TypeOfShowChange.InvokeAsync();
                break;
            case "ArrowDown":
                Game.GoDown(Game);
                TypeOfShowChange.InvokeAsync();
                break;
        }
        Game.GameMap.UpdateMapDisplay(Game.Player);
    }

}
